.crossroads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 650px;
    position: relative;

    &__row {
        display: flex;
        align-items: center;
    }
    &__school {
        text-align: center;
    }
    &__title {
        border-radius: 0.5rem;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        background: var(--bg-secondary);
        color: #fff;
    }
    &__item {
        background: var(--bg-secondary);
        color: #fff;
        border-radius: 5px;
        padding: 10px 10px 40px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.4);
        &-title {
            margin-top: 0;
            margin-bottom: 0px;
            font-size: 15px;
            // width: 100%;
            background-color: #fff;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            text-align: center;
            font-weight: 700;
            width: 100%;
            height: 70px;
            min-height: 100%;
            border-radius: 5px;
            
        }
        &-text {
            margin-bottom: 0;
            margin-top: 0;
        }
        &--register {
            width: 25%;
            margin-bottom: -50px;
            text-align: center;
            height: calc(33.33% + 20px);
            
        }
        &--begin {
            width: 100%;
            margin-top: -50px;
            text-align: center;
        }
        &--study {
            width: 20%;
            text-align: left;
            flex-shrink: 0;
            height: calc(33.33% + 20px);
        
        }
        &--exam {
            width: 20%;
            text-align: right;
            flex-shrink: 0;
            height: calc(33.33% + 20px);
        
        }
    }

    @media screen and (max-width: 1199px) {
        &__item {
            &-title {
                font-size: 13px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &__item {
            padding-bottom: 30px;
        }
    }
    @media screen and (max-width: 475px) {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        &__item {
            padding: 5px 5px 20px;
            width: 25%;
            height: 70px;
            &-title {
                white-space: pre-wrap;
                height: 100%;
                font-size: 11px;
            }
            &--register {
                margin-bottom: -10px;
            }
        }
    }
    
}

.roundabout {
    width: 100%;
    color: #444;
}

