.header {
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px #121212;
    backdrop-filter: blur(10px);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__link:not(:last-child) {
        margin-right: 15px;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    transition: all 400ms;
    &:hover {
        opacity: 0.6;
    }
}

.logo {
    display: inline-block;
    margin: 0;

    &__img {
        max-width: 150px;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    &__text {
        padding: 10px 30px;
        border: 3px solid rgb(203, 14, 14);
        border-radius: 50px 50px 5px 5px;
        text-align: center;
        font-size: 20px;
        background: #fff;
        color: #222;
    }
}

